.idea
code_setting/.idea/
/.idea/
.idea/worspace.xml
/.idea/*

venv*/
.env
code_setting/.env

.vscode/
documents/
documents/*
**/__pycache__/

/media/
media/
media/*

static/admin/
static/rest_framework/
static/rest_framework_docs/

code_setting/.settings.py.swp

*.swp
code_setting/__init__.pyc

django.log

settings.ini

# MacOS
.DS_Store
tests/*
.tx/

/htmlcov/
/db/
db/data/*
/docker-compose.yml
/Dockerfile

.python-version

*.svg

services_for_testing.py
code_setting/services_for_testing.py
